/*=======================/*
#BASE
/*=======================/*/

:root {
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #434455;
    --light-slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --navy-biue-modal-color: #2E2F42;
    --grey-color: #2E2F42;
    --white-color: #FFFFFF;
    --dairy-color: #FCFCFC;

}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0%;
}
ul,ol{
    margin: 0%;
    padding-left: 0%;
}
.container{
    min-width: 1158px;
    padding: 0 15px;
    margin-right:0 auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    color: #434455;
}
.img{
    display: block;
}
/*=======================/*
#SECTION HEDER
/*=======================/*/


.header-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    margin: 0 auto;
    min-width: 1158px;
}
.page-nav{
    display: flex;
    align-items: center;
}
    
.menu{
    margin-right: 332px;
    display: flex;
    gap: 40px;
}
.contakt{
    display: flex;
    gap: 40px;
}
.logo {
    padding: 25.5px 0;
    margin-right: 76px
    color: var(--iris-color);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word
}

.logo-studio {
    color: var(--grey-color);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word
}
.menu-item{
    display: block;
    padding: 24px 0;
}

.menu-link {
    color: var(--grey-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word
}

.menu-link:hover,
.menu-link:focus {
    color: var(--ocean-color);
}

.contakt-link {
    color: var(--slate-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word
}

.contakt-link:hover,
.contakt-link:focus {
    color: var(--ocean-color);
}

.address {
    font-style: normal;
     
}

/*=======================/*
#SECTION HERO
/*=======================/*/
.container-hero{
    background-color: var(--navy-blue-color);
    padding: 188px 472px 292px 472px;
}
.hero {
    padding: 188px 0;
}

.main-title {
    color: var(--white-color);
    text-align: center;
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    margin-bottom: 48px;
max-width: 496px;
}

.modal-btn {
    
    background-color: var(--iris-color);
    color: var(--white-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    word-wrap: break-word;
    padding: 16px 32px;
    border: 4px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
     gap: 10px;
     min-width: 169px;
     margin:0 auto;
     display: block;
    cursor: pointer;
    
   
}


.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean-color);
    color: var(--white-color);
    cursor: pointer
}

/*=======================/*
#SECTION BENEFITS
/*=======================/*/
.container-benefits{
padding: 120px 0;
}
.benefits-list{
    display: flex;
    gap: 24px;
    margin-right: 24px
    
}
.benefits-item{
width:calc((100% - 3 * 24px) / 4);
margin-bottom: 8px;
}


.benefits-subtitle {
    color: var(--navy-blue-color);
    font-size:20px;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    line-height:1.2;
    letter-spacing:0.02em;
    word-wrap: break-word;
    margin-bottom: 8px;
}

.benefits-desc {
    color: var(--slate-color);
    font-size:16px;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    line-height:1.5;
    letter-spacing:0.02em;
    word-wrap: break-word
    
}

/*=======================/*
#SECTION WORK
/*=======================/*/
.work-container{
    padding-bottom: 120px;
}
.work-title {
    color: var(--grey-color);
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing:0.02em;
     word-wrap: break-word;
     margin-bottom: 72px;
     min-width: 323px;
}
.work-list{
    display: flex;
    gap: 24px;
}

.work-item{
    width: calc((100% - 24px * 2) / 3);
}

/*=======================/*
#SECTION TEAM
/*=======================/*/
.team {
    background-color: var(--cloud-color);
    margin-bottom: 120px;
}

.team-title {
    color: var(--grey-color);
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    margin-bottom: 72px;
    min-width: 162px;
}

.team-list {
    background-color: var(--white-color);
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: var(--white-color);
    width: calc((100% - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    display: inline-flex;
        padding-bottom: 32px;
        align-items: center;
    
    
      
}

.team-subtitle {
    color: var(--grey-color);
    margin-bottom: 8px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word;
     margin-bottom: 8px;
     margin-top: 32px;
    
    
    
}

.team-desc {
    color: var(--slate-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    text-align: center;
}

/*=======================/*
#FOOTER
/*=======================/*/
.logo-footer {
    color: var(--iris-color);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    margin-bottom: 16px;
    width: 115px;
    display: inline-flex;
        height: 24px;
        align-items: center;
        flex-shrink: 0;
        display: inline-block;
}

.logo-studio-footer {
    color: var(--cloud-color);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word
}

.footer-desc {
    color: var(--cloud-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    width: 264px;
}

.page-footer {
    background-color: var(--navy-blue-color);
    padding: 100px 0;
}
.container-footer{
    background-color: var(--navy-blue-color);
    padding: 140px 1020px 100px 156px;
}

.modal-button {
    background-color: var(--cloud-color);
    color: var(--iris-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    word-wrap: break-word
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--ocean-color);
    color: var(--white-color);
    cursor: pointer
}

/*=======================/*
SECTION CONTENT
/*=======================/*/
h2 {
    color: var(--navy-blue-color);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word
}
p{
    color: var(--slate-color);
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        word-wrap: break-word
    }

.content-subtitle {
    color: var(--navy-blue-color);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    margin-top: 32px;
    margin-bottom: 8px;
}

.content-desc {
    color: var(--slate-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02;
    word-wrap: break-word
}
.content-list{
    display: flex;
    width: 1128px;
    flex-shrink: 0;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
.content-link{
    display: flex;
        width: 360px;
        height: 420px;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        flex-shrink: 0;
        border: 1px solid var(--CORNFLOWER, #E7E9FC);
            background: var(--WHITE, #FFF);
            width: calc((100% - 24px * 2) / 3);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hero-buttons{
    padding: 96px 427px 72px 427px;
}
.button-list{
    
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    
}
.button-link{

    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px 
           
}
.modal-button{
padding: 12px 24px;
    text-align: center;
}