/*=======================/*
#BASE
/*=======================/*/

:root {
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #434455;
    --light-slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --navy-biue-modal-color: #2E2F42;
    --grey-color: #2E2F42;
    --white-color: #FFFFFF;
    --dairy-color: #FCFCFC;

}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    color: #434455;
}

/*=======================/*
#SECTION HEDER
/*=======================/*/
.logo {
    color: var(--iris-color);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word
}

.logo-studio {
    color: var(--grey-color);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word
}

.menu-link {
    color: var(--grey-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word
}

.menu-link:hover,
.menu-link:focus {
    color: var(--ocean-color);
}

.contakt-link {
    color: var(--slate-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word
}

.contakt-link:hover,
.contakt-link:focus {
    color: var(--ocean-color);
}

.address {
    font-style: normal
}

/*=======================/*
#SECTION HERO
/*=======================/*/
.hero {
    background-color: var(--navy-blue-color);
}

.main-title {
    color: var(--white-color);
    text-align: center;
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    word-wrap: break-word
}

.modal-btn {
    background-color: var(--iris-color);
    color: var(--white-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    word-wrap: break-word
}


.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean-color);
    color: var(--white-color);
    cursor: pointer
}

/*=======================/*
#SECTION BENEFITS
/*=======================/*/
h3{
    color: var(--navy-blue-color);
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        word-wrap: break-word
}
p{
    color: var(--slate-color);
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.benefits-subtitle {
    color: var(--navy-blue-color);
    font-size:20px;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    line-height:1.2;
    letter-spacing:0.02em;
    word-wrap: break-word
}

.benefits-desc {
    color: var(--slate-color);
    font-size:16px;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    line-height:1.5;
    letter-spacing:0.02em;
    
}

/*=======================/*
#SECTION WORK
/*=======================/*/
.work-title {
    color: var(--grey-color);
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word
}


/*=======================/*
#SECTION TEAM
/*=======================/*/
.team {
    background-color: var(--cloud-color);
}

.team-title {
    color: var(--grey-color);
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word
}

.team-list {
    background-color: var(--white-color);
}

.team-item {
    background-color: var(--white-color);
}

.team-subtitle {
    color: var(--grey-color);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word
}

.team-desc {
    color: var(--slate-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word
}

/*=======================/*
#FOOTER
/*=======================/*/
.logo-footer {
    color: var(--iris-color);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word
}

.logo-studio-footer {
    color: var(--cloud-color);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word
}

.footer-desc {
    color: var(--cloud-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word
}

.page-footer {
    background-color: var(--navy-blue-color);
}

.modal-button {
    background-color: var(--cloud-color);
    color: var(--iris-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    word-wrap: break-word
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--ocean-color);
    color: var(--white-color);
    cursor: pointer
}

/*=======================/*
SECTION CONTENT
/*=======================/*/
h2{
    color: var(--navy-blue-color);
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        word-wrap: break-word
}
p{
    color: var(--slate-color);
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        word-wrap: break-word
    }

.content-subtitle {
    color: var(--navy-blue-color);
    font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        word-wrap: break-word
}

.content-desc {
    color: var(--slate-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02;
    word-wrap: break-word
}